In [1]:
import pandas as pd

data = [78, 85, 96, 80, 86]
series = pd.Series(data)
print("One-dimensional array-like object:")
print(series)

One-dimensional array-like object:
0    78
1    85
2    96
3    80
4    86
dtype: int64

In [2]:
import pandas as pd

data = [78, 85, 96, 80, 86]
series = pd.Series(data)

python_list = series.tolist()

print("Python list:", python_list)
print("Type of the list:", type(python_list))

Python list: [78, 85, 96, 80, 86]
Type of the list: <class 'list'>

In [3]:
import pandas as pd

data1 = [78, 85, 96, 80, 86]
data2 = [84, 94, 89, 83, 86]

series1 = pd.Series(data1)
series2 = pd.Series(data2)

comparison = series1 == series2
print("Comparison of elements:")
print(comparison)

Comparison of elements:
0    False
1    False
2    False
3    False
4     True
dtype: bool

In [4]:
import pandas as pd

data = {'X': [78, 85, 96, 80, 86], 'Y': [84, 94, 89, 83, 86], 'Z': [86, 97, 96, 72, 83]}
df = pd.DataFrame(data)

df['X'] = df['X'].astype(float)

print("DataFrame with changed data type:")
print(df)

DataFrame with changed data type:
      X   Y   Z
0  78.0  84  86
1  85.0  94  97
2  96.0  89  96
3  80.0  83  72
4  86.0  86  83

In [5]:
import pandas as pd

data = {'X': [78, 85, 96, 80, 86], 'Y': [84, 94, 89, 83, 86], 'Z': [86, 97, 96, 72, 83]}
df = pd.DataFrame(data)

df_power = df.apply(lambda x: x ** 2)

print("DataFrame with powers:")
print(df_power)

DataFrame with powers:
      X     Y     Z
0  6084  7056  7396
1  7225  8836  9409
2  9216  7921  9216
3  6400  6889  5184
4  7396  7396  6889

In [6]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

# Get the first 3 rows
first_3_rows = df.head(3)

# Display the result
print("First three rows of the data frame:")
print(first_3_rows)

First three rows of the data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes