In [1]:
import pandas as pd

data = [78, 85, 96, 80, 86]
series = pd.Series(data)
print("One-dimensional array-like object:")
print(series)

One-dimensional array-like object:
0    78
1    85
2    96
3    80
4    86
dtype: int64

In [2]:
import pandas as pd

data = [78, 85, 96, 80, 86]
series = pd.Series(data)
python_list = series.tolist()
print("Python list:")
print(python_list)
print("Type of the Python list:")
print(type(python_list))

Python list:
[78, 85, 96, 80, 86]
Type of the Python list:
<class 'list'>

In [3]:
import pandas as pd

data1 = pd.Series([78, 85, 96, 80, 86])
data2 = pd.Series([84, 94, 89, 83, 86])

comparison = data1 == data2
print("Comparison of the elements of the two Pandas Series:")
print(comparison)

Comparison of the elements of the two Pandas Series:
0    False
1    False
2    False
3    False
4     True
dtype: bool

In [4]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

df['B'] = df['B'].astype(float)
print("DataFrame with changed data type:")
print(df)

DataFrame with changed data type:
   A    B
0  1  4.0
1  2  5.0
2  3  6.0

In [5]:
import pandas as pd

data = {'X': [78, 85, 96, 80, 86], 'Y': [84, 94, 89, 83, 86], 'Z': [86, 97, 96, 72, 83]}
df = pd.DataFrame(data)

result = df.apply(lambda x: x ** 2)
print("Powers of array values element-wise:")
print(result)

Powers of array values element-wise:
      X     Y     Z
0  6084  7056  7396
1  7225  8836  9409
2  9216  7921  9216
3  6400  6889  5184
4  7396  7396  6889

In [6]:
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

print("First three rows of the data frame:")
print(df.head(3))

First three rows of the data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [7]:
import pandas as pd

data = {'Street': ['Streat1', 'Streat2', 'Streat3', 'Streat4', 'Streat5', 'Streat6'],
        'ID': ['S001', 'S002', 'S003', 'S004', 'S005', 'S006'],
        'Class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
        'Name': ['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
        'DOB': ['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998', '11/05/2002', '15/09/1997'],
        'Age': [35, 32, 33, 30, 31, 32]}

df = pd.DataFrame(data)

print("DataFrame:")
print(df)

DataFrame:
    Street    ID Class            Name         DOB  Age
0  Streat1  S001     V  Alberto Franco  15/05/2002   35
1  Streat2  S002     V    Gino Mcneill  17/05/2002   32
2  Streat3  S003    VI     Ryan Parkes  16/02/1999   33
3  Streat4  S004    VI    Eesha Hinton  25/09/1998   30
4  Streat5  S005     V    Gino Mcneill  11/05/2002   31
5  Streat6  S006    VI    David Parkes  15/09/1997   32

In [8]:
import pandas as pd

data = {'Street': ['Streat1', 'Streat2', 'Streat3', 'Streat4', 'Streat5', 'Streat6'],
        'ID': ['S001', 'S002', 'S003', 'S004', 'S005', 'S006'],
        'Class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
        'Name': ['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
        'DOB': ['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998', '11/05/2002', '15/09/1997'],
        'Age': [35, 32, 33, 30, 31, 32]}

df = pd.DataFrame(data)
df.set_index('ID', inplace=True)

print("DataFrame with 'ID' as the index:")
print(df)

df.reset_index(inplace=True)
print("\nDataFrame after resetting the index:")
print(df)

DataFrame with 'ID' as the index:
       Street Class            Name         DOB  Age
ID
S001  Streat1     V  Alberto Franco  15/05/2002   35
S002  Streat2     V    Gino Mcneill  17/05/2002   32
S003  Streat3    VI     Ryan Parkes  16/02/1999   33
S004  Streat4    VI    Eesha Hinton  25/09/1998   30
S005  Streat5     V    Gino Mcneill  11/05/2002   31
S006  Streat6    VI    David Parkes  15/09/1997   32

DataFrame after resetting the index:
     ID   Street Class            Name         DOB  Age
0  S001  Streat1     V  Alberto Franco  15/05/2002   35
1  S002  Streat2     V    Gino Mcneill  17/05/2002   32
2  S003  Streat3    VI     Ryan Parkes  16/02/1999   33
3  S004  Streat4    VI    Eesha Hinton  25/09/1998   30
4  S005  Streat5     V    Gino Mcneill  11/05/2002   31
5  S006  Streat6    VI    David Parkes  15/09/1997   32

In [9]:
import pandas as pd
import datetime

date_rng = pd.date_range(start='2024-03-01', end='2024-03-05', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
print("DataFrame indexing by date and time:")
print(df)

DataFrame indexing by date and time:
        date
0 2024-03-01
1 2024-03-02
2 2024-03-03
3 2024-03-04
4 2024-03-05

In [10]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

df.index.name = 'Index_Column'
print("DataFrame with a title for the index column:")
print(df)

DataFrame with a title for the index column:
              A  B
Index_Column
0             1  4
1             2  5
2             3  6

In [11]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)


selected_row = df.iloc[1]
print("Selected row by integer index:")
print(selected_row)

Selected row by integer index:
A    2
B    5
Name: 1, dtype: int64