In [5]:
list_one = [1, 2, 3, 4, "amit", "learning", True, 5]


print("1-type ", type(list_one))
print("1-type of item = ", type(list_one[-1]))


print("2-Use the index to get the value = ", list_one[0])


list_one[0] = 5
print("3-change the value = ", list_one)


list_one[0] = 2  
list_one[1] = 2
print('4-a,duplicate data ', list_one)


list_one[5] = [1, 2, 3, 5, 6, 9]
print("5-list in the list", list_one)


y = list("amit")
print('6-convert to list ', y)


x = {"key1": 5, "key2": 4}
z = x.items()
y = list(z)
print(y)

1-type  <class 'list'>
1-type of item =  <class 'int'>
2-Use the index to get the value =  1
3-change the value =  [5, 2, 3, 4, 'amit', 'learning', True, 5]
4-a,duplicate data  [2, 2, 3, 4, 'amit', 'learning', True, 5]
5-list in the list [2, 2, 3, 4, 'amit', [1, 2, 3, 5, 6, 9], True, 5]
6-convert to list  ['a', 'm', 'i', 't']
[('key1', 5), ('key2', 4)]

In [9]:
list_one = [1, 2, 3, 4, "amit", "learning", True, 5]
list_one.append([2,5,6])
print(list_one)

[1, 2, 3, 4, 'amit', 'learning', True, 5, [2, 5, 6]]

In [11]:
list_one = [1, 2, 3, 4, "amit", "learning", True, 5]
list_one.extend([2,5,6])
print(list_one)

[1, 2, 3, 4, 'amit', 'learning', True, 5, 2, 5, 6]

In [12]:
list_one = [1, 2, 3, 4, "amit", "learning", True, 5]
list_one.insert(0,"ml")
print(list_one)

['ml', 1, 2, 3, 4, 'amit', 'learning', True, 5]

In [13]:
list_one = [1, 2, 3, 4, "amit", "learning", True, 5]
list_one.remove("amit")
print(list_one)

[1, 2, 3, 4, 'learning', True, 5]

In [14]:
list_one = [1, 2, 3, 4, "amit","amit","learning", True, 5]
list_one.remove("amit")
print(list_one)

[1, 2, 3, 4, 'amit', 'learning', True, 5]

In [15]:
list_one = [1, 2, 3, 4, "amit","amit","learning", True, 5]
list_one.pop(0)
print(list_one)

[2, 3, 4, 'amit', 'amit', 'learning', True, 5]

In [18]:
list_one = [1, 2, 3, 4, "amit","amit","learning", True, 5]
print("before",list_one)
print("return",list_one.pop(0))
print("after",list_one)

before [1, 2, 3, 4, 'amit', 'amit', 'learning', True, 5]
return 1
after [2, 3, 4, 'amit', 'amit', 'learning', True, 5]

In [24]:
list_one = [1, 2, 3, 4, "amit","amit","learning", True, 5]
print("before",list_one)
del list_one[0]
print("after",list_one)

before [1, 2, 3, 4, 'amit', 'amit', 'learning', True, 5]
after [2, 3, 4, 'amit', 'amit', 'learning', True, 5]

In [37]:
list_one = [1, 2, 3, 4, "amit", "learning", True, 5]

print("before", list_one)


value_to_remove = input("Enter the value to remove: ")
list_one.remove(value_to_remove)

print("after", list_one)

before [1, 2, 3, 4, 'amit', 'learning', True, 5]
Enter the value to remove: amit
after [1, 2, 3, 4, 'learning', True, 5]

In [35]:
list_one = [1, 2, 3, 4, 5]


index_value = list_one.index(1)
print("index is", index_value)


count_value = list_one.count(2)
print("count is", count_value)


list_one.sort()
print("sorted list:", list_one)


list_one.reverse()
print("reversed list:", list_one)


list_one.clear()
print("cleared list:", list_one)

index is 0
count is 1
sorted list: [1, 2, 3, 4, 5]
reversed list: [5, 4, 3, 2, 1]
cleared list: []

In [36]:
tuple_one=(1,2,3,4,4,4,5,"amit","AI")
print("1-tuple",type(tuple_one))
print("2-type use the index to get the value = ",tuple_one[0])
tuple_two=(1,1,1,1,1)
print("allow duplicate data")
tuple_three=(1,2,3,1,[2,3,4])
print("allow list in tuple")
y=tuple("amit")
print('convert to tuple',y)

1-tuple <class 'tuple'>
2-type use the index to get the value =  1
allow duplicate data
allow list in tuple
convert to tuple ('a', 'm', 'i', 't')

In [43]:
set_one={"ml","ai"}
print("1-type",type(set_one))
print("does not allow duplicate data",set_one)
y=set("amit")
print('convert to tuple' ,y)

1-type <class 'set'>
does not allow duplicate data {'ai', 'ml'}
convert to tuple {'m', 'i', 'a', 't'}

In [46]:
dic_one = {1: "Mo", 2: "learning", 3: "learning", True: 3, "Key1": 30}

print("1-type =", type(dic_one))

print("2-Use the key to get the value =", dic_one[True])

dic_one["Key1"] = 5

print("3-Change the value =", dic_one)


print("4-allow duplicate data", dic_one)


dic_one["Key1"] = [1, 2, 3, 4, 5, 6, 7]
print("5-list in the list", dic_one)


y = dict([('a', 1), ("b", 2), ('c', 3)])
print('6- Convert to tuple', y)

1-type = <class 'dict'>
2-Use the key to get the value = 3
3-Change the value = {1: 3, 2: 'learning', 3: 'learning', 'Key1': 5}
4-allow duplicate data {1: 3, 2: 'learning', 3: 'learning', 'Key1': 5}
5-list in the list {1: 3, 2: 'learning', 3: 'learning', 'Key1': [1, 2, 3, 4, 5, 6, 7]}
6- Convert to tuple {'a': 1, 'b': 2, 'c': 3}

In [47]:
    num1 = float(input("Enter the first number: "))
    num2 = float(input("Enter the second number: "))

    # Perform operations
    addition = num1 + num2
    subtraction = num1 - num2
    multiplication = num1 * num2
    division = num1 / num2

    print(f"Addition: {addition}")
    print(f"Subtraction: {subtraction}")
    print(f"Multiplication: {multiplication}")
    print(f"Division: {division}")

Enter the first number: 5
Enter the second number: 6
Addition: 11.0
Subtraction: -1.0
Multiplication: 30.0
Division: 0.8333333333333334

In [48]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
else:
    print("a is greater than b")

x = 5
y = 10
if x > 0 and y > 0:
    print("Both x and y are positive")

age = 15
if age < 18 or age > 65:
    print("You are a child")

is_raining = True
if not is_raining:
    print("It's not raining. You can go outside")
else:
    print("It's raining")

a is greater than b
Both x and y are positive
You are a child
It's raining

In [49]:
a = 10
b = 5
print(a + b if a > b else a - b)

age = 21
print("Adult") if age >= 18 else (print("Teenager") if age >= 13 else print("Child"))

15
Adult

In [50]:
is_sunny = False
temp = 25

if not is_sunny:
    print("It's a sunny day!")
    if temp < 20:
        print("The weather is warm")
    else:
        print("The weather is cool")
else:
    print("It's not a sunny day")

x = 5
if (x == 5):
    print(x)
if (x != 5):
    print(x)

It's a sunny day!
The weather is cool
5

In [53]:
for x in "Mahmoud":
    print(x)

M
a
h
m
o
u
d

In [55]:
for x in ["pride","greed","wrath","envy","lust","gluttony","sloth"]:
    print(x)

pride
greed
wrath
envy
lust
gluttony
sloth

In [57]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [58]:
for i in range(9):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8

In [62]:
for i in range(9):
    if i > 3:
        break
    print(i)

0
1
2
3

In [64]:
for x in [0,1,2]:
    pass